.brick{

    background-color: rgb(28, 77, 60);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100%;
    color: rgb(28, 77, 60);
    

}

.brick1{

    background-color: rgb(48, 182, 135);
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 50px;
    

}

body{

    background-color: black;

}

p{

    color: aqua;

}

/* buttons */

/* hb == header buttons */

.hb{

    background-color:whitesmoke ;
    border-radius: 5px;
    margin: 35px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(76, 77, 77);

}
